<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
  </head>
  <body>
    <p>
      Hello {{.FirstName}}, You just made of purchase of {{.Amount}} on Sellar!!
    </p>
    <p>Book Name: {{.BookName}}</p>
    <p>Amount: {{.Amount}}</p>
    <p>Transaction Reference: {{.TransactionReference}}</p>

    <p>
      If you did not make this purchase, please contact our support team
      immediately.
    </p>
  </body>
</html>
